.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  padding-top: 20px;
}

.filter-title {
  padding-right: 10px;
}

.filter-block {
  margin-top: 30px;
}

.filter-item {
  padding-left: 5px;
  padding-right: 10px;
}

label {
  padding-left: 5px;
}

.geolocation-error {
  background-color: #ffcc00;
  padding: 20px;
}
